@import 'base/normalize';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap');
@import 'base/variables';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk';
} 
body {
    padding-bottom: 30px;
    position: relative;
    background: url('../images/background.jpg') center center / cover no-repeat;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.hamburger {
    display: none;
}

@import 'blocks/cards';
@import 'blocks/buttons';
@import 'blocks/origami';
@import 'blocks/video';
@import 'blocks/timer';
@import 'blocks/mission';
@import 'blocks/footer';
 
@import 'base/media';