.footer {
    background-color:#0082a1;
    min-height: 460px;
    padding: 50px 0 45px;
    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &_block {
        width: 25%;
        &:first-child {
            width: 35%;
        }
        &:nth-child(3) {
            width: 10%;
        }
        &:last-child {
            width: 10%;

        }
    }
    &_logo {
        margin: 10px 0 10px;
    }
    &_title {
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
        color: #ffffff;
    }
    &_descr {
        margin-top: 5px;
        font-size: 14px;
        font-weight: 300;
        color: #ffffff;
        cursor: pointer;
        a {
            color: #ffffff;
            text-decoration: none;
            &:hover {
                color: #00c2f0;
            }
        }
        
    }
    &_sign {
        font-size: 13px;
        line-height: 17px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
    }
}
hr {
    width: 100%;
    height: 1px;
    opacity: 0.3;
    color: red;
    margin: 30px 0 30px;
}
