.js {
    &__icon {
        margin-top: 134px;
    }
    .slider {
        &__inner {
            margin-top: 47px;
            display: flex;
            flex-direction: column;
        }
        &__value {
            display: flex;
            justify-content: space-between;
            &-item {
                font-size: 13px;
                font-weight: 300;
                &:first-child {
                    margin-right: 55px;
                }
            }
        }
        
    }
    .block {
        height: 40px;
        width: 100%;
        position: relative;
        padding: 0 0 45px 0;
      }
      
      .scale {
        width: 100%;
        height: 15px;
        position: absolute;
        left: 0px;
        bottom: 30px;
        overflow: hidden;
      }
      
      .scale_bg {
        width: 100%;
        height: 15px;
        position: absolute;
        left: 0px;
        top: 0px;
        background: #e8e8e8;
      }
      
      .scale_fill {
        width: 0;
        height: 15px;
        position: absolute;
        left: 0px;
        top: 0px;
        background: #cbb1f1;
        background: -moz-linear-gradient(left, #cbb1f1 0%, #445a94 100%);
        background: -webkit-linear-gradient(left, #cbb1f1 0%, #445a94 100%);
        background: linear-gradient(to right bottom, #fff 26%, transparent 45%),linear-gradient(to right, #cbb1f1, #445a94);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbb1f1', endColorstr='#445a94', GradientType=1);
        transition: width 0.4s;
        border-right: 1px dotted #000;
      }
      
      .scale_overlap {
        width: 100%;
        height: 10px;
        position: absolute;
        left: 0px;
        top: 0px;
        background: rgba(255, 255, 255, 0.3);
      }
      
      .range {
        -webkit-appearance: none;
        width: 100%;
        height: 45px;
        background: transparent;
        position: absolute;
        left: 0px;
        bottom: 0px;
        z-index: 1;
      }
      
      .range::-webkit-slider-thumb {
        -webkit-appearance: none;
      }
      
      .range:focus {
        outline: none;
      }
      
      .range::-ms-track {
        width: 100%;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      
      .range::-webkit-slider-thumb {
        -webkit-appearance: none;
        position: relative;
        height: 26px;
        width: 23px;
        background-image: url(../img/js-marker.png);;
        background-repeat: no-repeat;
        cursor: pointer;
        margin-top: 16px;
        
      }
      
      .range::-webkit-slider-runnable-track {
        width: 100%;
        cursor: pointer;
        background: none;
      }
      
      
      .range::-moz-range-track {
        width: 100%;
        cursor: pointer;
        background: none;
      }
      
      .range::-ms-track {
        width: 100%;
        cursor: pointer;
        background: none;
      }
}
