@media (max-width: 1366px) {
    .container {
        max-width: 1199px;
    }
    .title {
        padding-top: 85px;
        margin-bottom: 40px;
    }
    .page-section{
        &__wrapper {
        padding: 40px 0 50px;
        }
    }
    .products {
        &__slider-box {
        padding-top: 40px;
        }
        &__slider-text {
            bottom: 4px;
            left: -173px;
        }
       
    }
    .benefits {
        &__info {
            width: 225px;
        }
        &__item {
            margin-bottom: 25px;
            &:first-child::before {
                height: 47px;
                width: 209px;
                right: -117px;
                top: 33px;
            }
            &:nth-child(2)::before {
                height: 58px;
                width: 372px;
                left: -335px;
                bottom: -24px;
            }
            &:nth-child(3)::before {
                height: 39px;
                width: 217px;
                right: -134px;
                top: 43px;
            }
        }
    }
    .specification {
        &__item--center {
            img {
                width: 80%;
            }
        }
        &__box-2::before {
            width: 264px;
            height: 71px;
            right: -197px;
            top: -48px;
        }
        &__box-3::before {
            width: 228px;
            height: 103px;
            left: -241px;
            top: 81px;
        }
        &__box-4::before {
            width: 125px;
            height: 124px;
            left: -193px;
            top: -43px;
        }
    }
    .questions {
        &__item-title {
            font-size: 19px;
            line-height: 17px;
        }
        &__item-text {
            padding: 0 20px 20px 50px;
        }
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 1050px;
    }
    .title {
        padding-top: 90px;
    }
    .header {
        &__inner {
            font-size: 14px;
        }
        &__phone {
            font-size: 14px;
        }
    }
    .products {
        &__slider {
            max-width: 515px;
            &::before {
                width: 515px;
            }
        }
        &__slider-text {
            bottom: -42px;
            left: -84px;
        }
    }
    .benefits {
        &__item {
            &:first-child::before {
                display: none;
            }
            &:nth-child(2)::before {
                display: none;
            }
            &:nth-child(3) {
                margin-left: 0;
                &::before {
                display: none;
                }
            }
            &:nth-child(4) {
                margin-left: 0;
            }
        }
        &__info-title {
            font-size: 20px;
            line-height: 21px;
        }
    }
}
@media (max-width: 1040px) {
    .container {
        max-width: 920px;
    }
    .title {
        margin-bottom: 30px;
        padding-top: 70px;

    }
    .header {
        &__info {
            display: flex;
            flex-direction: column;
        }
        &__phone {
            padding-top: 10px;
        }
    }
    .top {
        &__title {
            line-height: 17px;
            font-size: 85px;
        }
        &__inner {
            img {
                width: 80%;
            }
        }
    }
    .products {
        &__inner {
            padding-left: 0;
        }
        
        &__slider {
            max-width: 420px;
            &::before {
                width: 420px;
                height: 220px;
            }
        }
        &__slider-box {
            padding-top: 105px;
        }
        &__slider-text {
            bottom: 8px;
        }
        &__slider-item {
            img {
                width: 100%;
            }
        }
    }
    .benefits {
        &__items {
            padding-left: 0;
        }
        &__item {
            flex-direction: column;
            align-items: center;
            width: 50%;
            
        }
        &__info {
            width: 300px;
            text-align: center;
        }
        &__info-title {
            width: 300px;
        }
    }
    .specification {
        &__item--center{
            img {
                width: 141%;
                margin-left: -57px;
            }
            
        }
        &__box-title {
            font-size: 20px;
            line-height: 8px;
        }
        &__box-text {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
        }
        &__box-1::before {
            width: 143px;
            height: 109px;
            right: -92px;
            top: 79px;
        }
        &__box-2::before {
            width: 220px;
            height: 43px;
            right: -152px;
            top: -38px;
        }
        &__box-3::before {
            width: 132px;
            height: 63px;
            left: -143px;
            top: 97px;
        }
        &__box-4::before {
            height: 66px;
            left: -110px;
        }
        
    } 
    .questions {
        &__item {
            &:nth-child(3)::before {
                display: none;
            }
        }
    }
    

    
}
@media (max-width: 920px) {
    .container {
        max-width: 800px;
    }
    .title {
        margin-bottom: 20px;
        font-size: 42px
    }
    .header {
        &__info {
            display: none;
        }
    }
    .products {
        &__slider-text {
            left: 128px;
            top: 0;
        }
    }
    .specification {
        &__item--center{
            img {
                width: 141%;
                margin-left: -57px;
            }
            
        }
        &__box-2,
        &__box-4 {
            margin-top: 80px;
        }
        &__box-1::before,
        &__box-2::before,
        &__box-3::before,
        &__box-4::before {
            display: none;
        }
         
        
    } 
    .questions {
        &__item-title {
            font-size: 17px;
            line-height: 7px;
            padding: 15px 10px 16px 25px;
            &::after {
                height: 37px;
            }
        }
    }
    .contacts {
        &__info-title {
            line-height: 12px;
            font-size: 20px;
        }
        &__info-box {
            margin-bottom: 23px;
        }
        &__form-textarea {
            min-height: 99px;
        }
    }
    
}
@media (max-width: 830px) {
    .container {
        max-width: 700px;
    }
    .title {
        margin-bottom: 12px;
        font-size: 38px;
        padding-top: 50px;

    }
    .products {
        &__inner {
            flex-direction: column;
        }
        &__text {
            max-width: 100%; 
            font-size: 15px;
            p{
                margin-bottom: 0;
            }
            
        }
        &__slider {
            margin: 0 auto;
        }
        &__slider-box {
            padding-top: 20px;
        }
        &__slider-text {
            left: 13px;
            top: 192px;
            font-size: 21px
        }
    }
    .top {
        &__title {
            font-size: 65px;
        }
        &__inner {
            img {
                width: 55%;
            }
        }
        &__text {
            margin: 15px 0 15px;
        }
    }
    .specification {
        &__item--center {
            img {
            display: none;
            }
        } 
        &__box-2,
        &__box-4 {
            margin-top: 30px;
        }
    }
    .questions {
        
        &__item-title {
            &::after {
                width: 41px;
                height: 36px;
                right: 0;
            }
        }
        &__item-text {
            padding: 0 45px 20px 50px;
        }
    }
    .contacts {
        &__inner {
            flex-direction: column-reverse;
        }
        &__info {
            width: 100%;
            margin: 25px 0 0 25px;
        }
        &__info-phone {
            display: block;
        }
        &__social-list {
            flex-direction: row;
        }
        &__social-item {
            margin: 14px;
        }
    } 
}
@media (max-width: 676px) {
    .header {
        &__inner {
            background-color: transparent;
            font-size: 15px;
        }
        &__info {
            display: block;
            z-index: 5;
        }
        &__btn {
            margin: 0;
            padding: 9px 28px;
        }
        &__phone {
            display: none;
        }
    }
    .logo {
        z-index: 5;
    }
    .menu{
        &__list {                
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100vh;
            padding: 27px;
            background: rgba(#1C1C1C, .9);
            &_active {
                left: 0;
            }
        
        }
        &__list-item {
            padding-top: 32px;
            & + .menu__list-item {
                padding-left: 0;
            }
        }
    }
    
    .hamburger {
        display: block;
        position: absolute;
        right: 145px;
        top: 58%;
        transform: translateY(-50%);
        width: 26px;
        height: 21px;
        span {
            display: block;
            height: 2px;
            width: 100%;
            background: #E0E0E0;
            margin-bottom: 5px;
            transition: all .5s;
            
        }
        &_active {
            span {
                margin-bottom: -2px;
                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }

    }
    .benefits {
        &__info {
            width: 230px;
        }
        &__info-title {
            width: 230px;
        }
    }
    .specification {
        &__inner {
            flex-direction: column;
        }
    }
    .contacts {
        &__form {
            width: 95%;
        }
    }
    
    
}
@media (max-width: 520px) {
    .container {
        max-width: 420px;
    }
    .title {
        font-size: 33px;
        line-height: 40px;
    }
    .hamburger {
        right: 206px;
    }
    .slider-btn {
        padding: 10px 25px;
        bottom: -34px;
    }
    .top {
        &__title {
        font-size: 45px;
        }
        &__text {
            font-size: 14px;
            line-height: 16px;
        }
        
    }
    .products {
        &__slider-text {
            font-size: 19px;
            line-height: 21px;
            left: -75px;
        }
        &__slider {
            max-width: 320px;
            &::before {
                width: 320px;
                height: 200px;
            }
        }
    }
    .benefits {
        &__item {
            width: 100%;
        }
        &__info {
            width: 320px;
        }
        &__info-title {
            width: 320px;
        }
    }
    .questions {
        &__item-title {
        font-size: 17px;
        line-height: 20px;
        padding: 15px 80px 16px 25px;
        }
    }
    
}
@media (max-width: 420px) {
    .container {
        max-width: 320px;
    }
    .title {
        padding-left: 0;
        font-size: 26px;
    }
    .top {
        &__inner 
            img {
                width: 100%;
            }
        
    }
    .products {
        &__slider-text {
            line-height: 18px;
            left: -119px;
            top: 141px;
            font-size: 18px;
        }
        &__slider::before {
            width: 280px;
            height: 160px;
        }
    }
    .questions {
        &__item-text {
        padding: 0 42px 20px 50px;
        }
    }
    .contacts {
        &__inner {
            padding-left: 0;
        }
        &__form-title {
            text-align: center;
        }
        &__form-text {
            text-align: center;
        }
        &__form-btn {
            display: block;
            margin: auto;
        }
    }
}
@media (max-width: 350px) {
    .questions {
        &__items {
            max-width: 300px;
        }
        &__item {
            max-width: 300px;
        }
        &__item-title {
            font-size: 15px;
            padding: 10px 53px 10px 19px;
            &::after {
                width: 29px;
                height: 31px;
                right: 0;
            }
        }
        &__item-text {
            padding: 0 32px 20px 25px;
        }
    }
}
@media (max-width: 320px) {
    .hamburger {
        right: 174px;
    }
    .products {
        &__slider::before {
            display: none;
        }
        &__slider-text {
            display: none;
        }
    }
    .slider-btn {
        padding: 5px 25px;
        bottom: -11px;
    }
    .benefits {
        &__info {
            width: 245px;
        }
        &__info-title {
            width: 245px;
        }
    }
    .specification {
        &__inner {
            padding-left: 0;
        }
        &__box-text {
            width: 240px;
        }
    }
    .questions {
        &__items {
            max-width: 270px;
        }
        &__item {
            max-width: 270px;
        }
        &__item-title {
            font-size: 14px;
            
        }
        &__item-text {
            font-size: 13px;
            padding: 0 32px 20px 25px;
        }
    }
}