.cards {
    padding: 32px 146px 0 118px;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        img {
            width: 160px;
        }
        
    }
    &__menu {
        display: flex;
        &-list {
            padding: 0 15px;
            a {
                color: $main-color;
            }
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-evenly;
        margin-top: 60px;
    }
    &__content {
        margin-top: 80px;
        text-align: center;
    }
    &__title {
        font-weight: 700;
        font-size: 84px;
        line-height: 84px;
        color: $main-color;
    }
    &__descr {
        display: block;
        margin: 45px auto 0;
        width: 316px;
        font-weight: 400;
        font-size: 21px;
        line-height: 27px;
        text-align: center;
    }
    &__img {
        width: 480px;
        height: 460px;
        &::after {
            content: '';
            background: url('../images/shape-pink.png');
            position: absolute;
            background-size:contain;
            width: 250px;
            height: 465px;
            top: 10%;
            right: 0;
        }
    }
}