.timer {
    min-height: 1065px;
    margin-top: -330px;
    width: 100%;
    background-color: #181935;
    &::before {
        content: '';
        background: url('../images/shape-cube.png');
        background-size:contain;
        position: absolute;
        width: 265px;
        height: 393px;
        bottom: 36%;
        left: 0;
    }
    &::after {
        content: '';
        background: url('../images/shape-triangle-yellow.png');
        background-size:contain;
        position: absolute;
        width: 230px;
        height: 379px;
        right: 0;
        top: 40%;
    }
    &__wrapper {
        width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        bottom: -450px;
    }
    &__cards {
        width: 480px;
    }
    &__inner{
        width: 500px;
        margin: 135px auto 0;
        text-align: center;
        color: #86E2F1;
    }
    &__title {
        font-weight: 700;
        font-size: 42px;
        line-height: 42px;
    }
    &__descr {
        width: 335px;
        margin: 33px auto 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
    &__timer {
        width: 250px;
        margin: 55px auto 0;
        display: flex;
        justify-content: center;
    }
    &__block {
        width: 70px;
        font-weight: 400;
        font-size: 16px;
        span {
            font-size: 48px
        }
    }
    &__circle {
        font-weight: 400;
        font-size: 48px;
    }
}