@media (max-width: 1366px) {
    .cards {
        &__img {
            &::after {
                width: 216px;
                height: 401px;
            }
        }
    }
    .video {
        width: 90%;
    }
    .timer {
        &::before {
            bottom: 31%;
        }
        &__inner {
            &__inner {
                width: 350px;
            }
        }
    }
    .mission {
        &__team {
            &::after {
                left: 1%;
            }
        }
        &__wrapper {
            &::before {
                right: -32%;
            }
        }
    }
    
}
@media (max-width: 1200px) {
    .cards {
        &__title {
            font-size: 60px;
            line-height: 60px;
        }
        &__img {
            img {
                width: 115%;
            }
        }
    }
    .origami {
        &__descr {
            &::before {
                width: 190px;
                height: 307px;
                left: 0;
                top: 22%;
            }
        }
    }
    .timer {
        &__wrapper {
            width: 85%;
            bottom: -350px;
        }
        &::after {
            top: 41%;
            z-index: 2;
            width: 190px;
            height: 313px;
        }
        &__cards {
            width: 450px;
            img {
                width: 115%;
            }
        }
    }
    .mission {
        &__wrapper {
            width: 680px;
            height: 680px;
            &::before {
                width: 230px;
                height: 230px;
                right: -25%;
            }
        }
        &__team {
            &::after{
                width: 300px;
                height: 300px;
            }
            &::before {
                width: 297px;
                height: 349px;
                top: -157%;
            }
        }
    }
}
@media (max-width: 991px) {
    .cards {
        padding: 32px 60px 0 60px;
        &__logo {
            margin: 0 auto;
        }
        &__menu {
            position: fixed;
            z-index: 5;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            left: -100%;
            width: 37%;
            height: 100vh;
            padding: 20px 15px;
            background-color: #FFB6B5;
            transition: 0.6s all;
            &_active {
                left: 0;
            }
            &-list {
                padding: 25px 15px;
            }
        }
        &__title {
            font-size: 55px;
            line-height: 55px;
        }
        &__descr {
            margin: 30px auto 0;
            width: 290px;
        }
        &__content {
            margin-top: 45px;
        }
        &__img {
            &::after {
                width: 195px;
                height: 359px;
            }
        }
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        margin-top: 4%;
        position: absolute;
        transform: translateY(-50%);
        width: 20px;
        height: 21px;
        cursor: pointer;
        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: #3A355F;
            margin-bottom: 5px;
            transition: 0.5s all;
        }
        &_active {
            position: fixed;
            z-index: 7;
            left: 33%;
            span {
                margin-bottom: -2px;
				&:nth-child(1) {
                    transform: translateY(-3px) rotate(45deg);
                }
				&:nth-child(2) {
                    display: none;
                }
				&:nth-child(3) {
                    transform: translateY(-3px) rotate(-45deg);
                }
            }
        }
			
    }
    .btn {
        &__cards {
            display: none;
            &-more {
                margin: 30px auto;
            }
            &-mail {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .origami {
        &__title {
            font-size: 52px;
            line-height: 52px;
            width: 60%;
            margin: 0 auto;
        }
        &__descr::before {
            top: 13%;
        }
    }
    .video {
        margin-top: 25px;
    }
    .timer {
        &::after {
            width: 160px;
            height: 263px;
        }
        &::before {
            width: 230px;
            height: 340px;
            bottom: 33%;
        }
    }
    .mission {
        &__wrapper {
            width: 630px;
            height: 630px;
            &::before {
                width: 220px;
                height: 220px;
                top: -14%;
            }
        }
        &__team {
            &::after {
                width: 250px;
                height: 250px;
            }
        
            &::before {
                width: 239px;
                height: 279px;
            }
        }
    }
}
@media (max-width: 767px) {
    .cards {
        &__wrapper {
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
        }
        &__content {
            margin: 30px auto 0;
            order: 2;
        }
        &__title {
            font-size: 50px;
            line-height: 50px;
        }
        &__img {
            order: 1;
            width: 400px;
            height: 300px;
            img {
                width: 100%;
            }
            &::after {
                width: 150px;
                height: 277px;
                top: 6%;
            }

        }
    }
    .origami {
        width: 100%;
        margin-top: 90px;
        &__title {
            width: 70%;
            font-size: 45px;
            line-height: 47px;
        }
        &__descr {
            width: 70%;
            &::before {
                width: 142px;
                height: 230px;
            }
        }
    }
    .video {
        margin-top: 65px;
        height: 310px;
        &__btn {
            width: 140px;
            height: 50px;
            line-height: 12px;
        }
    }
    .timer {
        margin-top: -24%;
        &__wrapper {
            bottom: -235px;
            flex-direction: column;
            align-items: center;
        }
        &::after{
            top: 39%;
            width: 125px;
            height: 206px;
        }
        &::before {
            width: 165px;
            height: 244px;
            bottom: 52%;
        }
        &__cards {
            img {
                width: 100%;
            }
        }
        &__inner {
            margin-top: 10px;
        }
    }
    .mission {
        &__wrapper {
            width: 530px;
            height: 530px;
            &::before {
                background: url(../images/half-circle-green.png);
                background-size: cover;
                width: 120px;
                height: 211px;
                right: -101px;
                top: -38%;
            }
        }
        &__title {
            width: 45%;
            margin: 0 auto;
        }
        &__team {
            &::after {
                background: url(../images/half-circle-blue.png);
                background-size: cover;
                width: 180px;
                height: 321px;
                bottom: 100%;
                left: 0;
            }
            &::before {
                background: url(../images/half-circle-pink.png);
                background-size: cover;
                width: 185px;
                height: 375px;
                top: -101%;
            }
        }
    }
}
@media (max-width: 670px) {
    .mission {
        &__wrapper {
            &::before {
                right: -49px;
            }
        }
    }
}
@media (max-width: 575px) {
    .btn {
        &__cards {
            &-mail {
                width: 36px;
                height: 36px;
            }
        }
    }
    .cards {
        &__menu {
            width: 42%;
        }
        &__img::after {
            width: 120px;
            height: 215px;
        }
    }
    .origami {
        margin-top: 67px;
        &__title {
            width: 66%;
            font-size: 28px;
            line-height: 28px;
        }
        &__descr {
            font-size: 10px;
            line-height: 14px;
            &::before {
                width: 125px;
                height: 201px;
                top: 14%;
                
            }
        }
    }
    .video {
        &__btn {
            width: 110px;
            height: 30px;
            font-size: 11px;
            line-height: 3px;
            border-radius: 10px;
        }
    }
    .timer {
        margin-top: -31%;
        min-height: 990px;
        &__wrapper {
            bottom: -180px;
        }
        &__cards {
            width: 380px;
        }
        &::after {
            top: 40%;
            width: 100px;
            height: 165px;
        }
        &::before {
            width: 119px;
            height: 176px;
            bottom: 45%;
        }
        &__inner {
            width: 90%;
        }
        &__title {
            font-size: 36px;
            line-height: 36px;
        }
        &__descr {
            width: 100%;
            font-size: 10px;
            line-height: 14px;
        }
    }
    .mission {
        margin-top: 50px;
        &__wrapper {
            width: 320px;
            height: 320px;
            &::before {
                width: 67px;
                height: 120px;
                right: -116px;
                top: -39%;
            }
        }
        &__title {
            width: 60%;
            font-size: 32px;
            line-height: 32px;
            &-width {
                width: 45%;
            }
            
        }
        &__descr {
            width: 220px;
            margin-top: 15px;
            font-size: 10px;
            line-height: 14px;
        }
        &__team {
            &::after {
                width: 101px;
                height: 180px;
                bottom: 133%;
            }
        
            &::before {
                width: 104px;
                height: 210px;
                top: -117%;
            }
        }
    }
}
@media (max-width: 520px) {
    .cards {
        padding: 21px 17px 0 23px;
        &__logo {
            img {
                width: 100px;
            }
        }
        &__img {
            width: 280px;
            height: 215px;
            &::after {
                width: 78px;
                height: 144px;
                top: 5%;
                right: 0;
            }
        }
    }
    .origami {
        margin-top: 40px;
        &__title {
            width: 68%;
        }
        &__descr{
            width: 63%;
            &::before {
                width: 81px;
                height: 131px;
                top: 16%;
            }
        } 
    }
    .timer {
        &::after {
            top: 37%;
        }
        &::before {
            bottom: 46%;
        }
    }
}
@media (max-width: 420px) {
    .cards {
        padding: 21px 17px 0 23px;
        &__logo {
            img {
                width: 100px;
            }
        }
        &__img {
            width: 280px;
            height: 215px;
        }
        &__title {
            font-size: 36px;
            line-height: 36px;
        }
        &__descr {
            width: 257px;
            font-size: 10px;
            line-height: 14px;
        }
    }
    .btn {
        &__cards {
            &-more {
                width: 120px;
                height: 40px;
                border-radius: 10px;
                font-size: 10px;
                line-height: 13px;
            }
        }
    }
    .video {
        height: 173px;
    }
    .timer {
        margin-top: -27%;
        min-height: 915px;
        &::after {
            top: 37%;
            width: 82px;
            height: 135px;
        }
        &::before {
            width: 91px;
            height: 135px;
            bottom: 48%;
        }
        &__cards {
            width: 280px;
        }
        &__inner {
            width: 85%;
        }
        &__timer {
            width: 100%;
        }
    }
    .mission {
        &__wrapper {
            width: 280px;
            height: 280px;
            &::before {
                width: 67px;
                height: 120px;
                right: -51px;
            
            }
        }
        &__title {
            width: 75%;
            &-width {
                width: 75%;
            }
        }
        &__descr {
            width: 220px;
            margin-top: 15px;
            font-size: 10px;
            line-height: 14px;
        }
        &__team {
            &::after {
                width: 101px;
                height: 180px;
                bottom: 133%;
            }
            &::before {
                width: 104px;
                height: 210px;
                top: -117%;
            }
        }
    }
    .footer {
        width: 140px;
        margin: 100px auto;
        font-size: 10px;
        line-height: 100%;
    }
}
@media (max-width: 375px) {
    .mission {
        &__wrapper {
            &::before {
                right: -46px;
            }
        }
    }
}
@media (max-width: 320px) {
    .cards {
        &__img {
            &::after {
                top: 8%;
            }
        }
    }
    .origami {
        &__title {
            width: 80%;
        }
        &__descr{
            width: 80%;
            &::before {
                width: 71px;
                height: 115px;
                top: 18%;
            }
        } 
    }
    .timer {
        min-height: 771px;
        &::after {
            top: 39%;
            width: 48px;
            height: 79px;
        }
        &::before {
            width: 65px;
            height: 96px;
            bottom: 48%;
        }
        &__wrapper {
            bottom: -105px;
        }
    }
    .mission {
        &__wrapper {
            &::before {
                right: -18px;
            }
        }
    }
}