.cards {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        padding: 58px 60px 63px 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 33.3%;
        &-1 {
            background-color: #C9A3A4;
        }
        &-2 {
            background-color: #A7CEEF;
        }
        &-3 {
            background-color: #ACB5AC;
        }
        &-img {
            margin-top: 28px;
            height: 420px;
            img {
                display: block;
                margin: 0 auto;
                width: 90%;
                height: 400px;
                object-fit: contain;
            }
        }
        
    }
    
}