.footer {
    min-height: 201px;
    background-color: #25333c;
    padding: 24px 0 36px 0;
    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        display: flex;
        align-items: center;
        img {
            width: 68px;
            height: 71px;
            margin-right: 30px;
        }
    }
    &__text {
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: #ffffff;
    }
    &__contact {
        display: flex;
        flex-direction: column;
        margin-right: 19px;
    }
    
    &_footer {
        display: flex;
        justify-content: space-between;
        margin-top: 58px;
    }
    &_ua {
        font-size: 13px;
        line-height: 17px;
        font-weight: 300;
        color: #ffffff;
    }
    &_poli {
        font-size: 13px;
        line-height: 17px;
        font-weight: 300;
        text-decoration: underline;
        color: #ec644b;
        cursor: pointer;
        &:hover {
            color: #ffffff;
        }
    }
    &_site {
        display: flex;
        align-items: center;
    }
    &_make {
        opacity: 0.6;
        font-size: 13px;
        line-height: 17px;
        font-weight: 300;
        color: #ffffff;
        margin-right: 10px;
    }
    
}
