
.promo {
    min-height: 680px;
    padding: 23px 0 81px 0;
    background: url('../img/bg1.jpg') center (center / cover) no-repeat;
    &__logo {
        width: 100px;
        height: 100px;
        img {
            width: 100px;
            height: 100px;
        }
    }
    nav {
        position: relative;
        z-index: 1;
        .menu {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            margin-top: 35px;
            &__item {
                border-right: 1px rgba($color: #ebe5e5, $alpha: 0.4) dotted;
                padding: 0 10px 0 10px;
                &:last-child {
                    border-right: none;
                }
            }
            &__link {
                font-size: 15px;
                line-height: 16px;
                font-weight: 400;
                color: #ffffff;
                &:hover {
                    cursor: pointer;
                    color: $main-color;
                }
            }
        }
    } 
    &__wrap {
        display: flex;
    }   
    &__contacts {
        margin-top: 17px;
        display: flex;
        flex-direction: column;
        margin-right: 18px;
    }
    &_call {
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #ffffff;
        text-align: right;
    }
    &__phone {
        font-size: 17px;
        line-height: 24px;
        font-weight: 700;
        color: #ffffff;
        &:hover {
            cursor: pointer;
            color: $main-color;
        }
    }
    &__opt {
        font-size: 24px;
        line-height: 1.2;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
    }
    &__header {
        margin-top: 26px;
        font-size: 62px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $main-color;
        text-align: center;
    }
    &__subheader {
        margin-top: 10px;
        font-size: 31px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
    }
    &_line {
        margin: 38px 0;
        width: 100%;
        img {
            display: block;
            margin: 0 auto;
            width: 80%;
        }
    }
    &__wrapper {
        margin-top: 27px;
        display: flex;
        justify-content: space-around;
    }
    &__item {
        text-align: center;
        
        img{
            width: 65px;
            height: 55px;
        }

    }
    &__subtitle {
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
        margin-top: 16px;
    }
    &_footer {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
}
