.workmore {
    min-height: 590px;
    padding-bottom: 57px;
    &__item {
        text-align: center;
        width: 100%;
    }
    &__icon {
        display: block;
        margin: 0 auto;
    }
    &__subtitle {
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        color: #ec644b;
        margin-top: 28px;
    }
    &__descr {
        font-size: 14px;
        font-weight: 300;
        color: #3a3a3a;
        margin-top: 15px;
        text-align: justify;
        text-align-last: center ;
    }
}
.line {
    width: 148px;
    height: 1px;
    background-color: $main-color;
    display: block;
    margin: 20px auto;
}